/**
 * -------------------------------------------------------------
 * BREADCRUMB
 * -------------------------------------------------------------
 */

.breadcrumb {
  z-index: 1;
}

[dir="ltr"] .breadcrumb--floating {
  left: 0;
}

[dir="rtl"] .breadcrumb--floating {
  right: 0;
}

.breadcrumb--floating {
  position: absolute;
  top: 0;
}

.breadcrumb__list {
  display: inline-flex;
  padding: 26px 0;
  margin: 0;
  list-style: none;
}

.breadcrumb__item + .breadcrumb__item::before {
  float: left;
  margin: 0 4px;
  content: '/';
  opacity: 0.7;
}

.breadcrumb__link {
  transition: opacity 0.2s ease-in-out;
}

.breadcrumb__link:not([aria-current="page"], :hover) {
  opacity: 0.7;
}

[dir="rtl"] .breadcrumb__item + .breadcrumb__item::before {
  float: right;
}
