/**
 * -------------------------------------------------------------
 * LINKLIST
 * -------------------------------------------------------------
 */

.linklist__item:not(:first-child) {
  padding-top: 12px;
}

.linklist__item a {
  display: inline-block;
  word-break: break-word;
}

@media screen and (min-width: 1000px) {
  .linklist__item:not(:first-child) {
    padding-top: 6px; /* On desktop we use less space as we do not have as much constraint for tap area */
  }
}
