/**
 * -------------------------------------------------------------
 * ANIMATED PLUS
 * -------------------------------------------------------------
 */

.animated-plus {
  position: relative;
  width: 10px;
  height: 10px;
}

.animated-plus::before,
.animated-plus::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  background-color: currentcolor;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
  transform: translate(-50%, -50%) rotate(-90deg);
}

.animated-plus::before {
  width: 10px;
  height: 2px;
  opacity: 1;
}

.animated-plus::after {
  width: 2px;
  height: 10px;
}

[aria-expanded="true"] > .animated-plus::before {
  opacity: 0;
}

[aria-expanded="true"] > .animated-plus::before,
[aria-expanded="true"] > .animated-plus::after {
  transform: translate(-50%, -50%) rotate(90deg);
}
