/**
 * -------------------------------------------------------------
 * RTE STYLES
 *
 * NOTE: In Focal, all text are spaced consistently in RTE fields (those written in text editor of Shopify). However,
 *       we also re-use internally in the theme for most section the same spacing between elements. In order to space
 *       those, a "text-container" class is introduced and allow to introduce a consistent spacing.
 * -------------------------------------------------------------
 */

.heading:first-child {
  margin-top: 0;
}

.heading:last-child {
  margin-bottom: 0;
}

/*
 * IMPLEMENTATION NOTE: while those are called "heading--small", they are actually using the text font and
 * not the heading font. The reason is that we found out that due to their small size, the body font usually
 * works better visually. Of course if both heading and body font are the same, this won't change anything.
 */
.heading--small,
.heading--xsmall,
.heading--xxsmall {
  font-family: var(--text-font-family);
  font-style: var(--text-font-style);
  font-weight: var(--text-font-bold-weight);
  line-height: 1.4663636;
  text-transform: uppercase; /* Small headings are always uppercase */
  letter-spacing: 1px;
}

.heading--xxsmall {
  font-size: var(--heading-xxsmall-font-size);
}

.heading--xsmall {
  font-size: var(--heading-xsmall-font-size);
}

.heading--small {
  font-size: var(--heading-small-font-size);
  line-height: 1.5; /* Slightly bigger line height */
}

.heading--large,
.rte .heading--large {
  font-size: var(--heading-large-font-size);
  line-height: 1.11111111;
  letter-spacing: -0.9px;
}

.h1,
.rte h1 {
  font-size: var(--heading-h1-font-size);
  line-height: 1.11111111;
  letter-spacing: -0.9px;
}

.h2,
.rte h2 {
  font-size: var(--heading-h2-font-size);
  line-height: 1.13333333;
  letter-spacing: -0.6px;
}

.h3,
.rte h3 {
  font-size: var(--heading-h3-font-size);
  line-height: 1.1538461538;
  letter-spacing: -0.4px;
}

.h4,
.rte h4 {
  font-size: var(--heading-h4-font-size);
  line-height: 1.1666666667;
  letter-spacing: -0.3px;
}

.h5,
.rte h5 {
  font-size: var(--heading-h5-font-size);
  line-height: 1.2;
  letter-spacing: -0.3px;
}

.h6,
.rte h6 {
  font-size: var(--heading-h6-font-size);
  line-height: 1.25;
}

.blockquote,
.rte blockquote {
  position: relative;
  padding: 24px 24px 0;
  margin: 48px 0 64px;
  font-size: var(--heading-h4-font-size);
  line-height: 1.1666666667;
  letter-spacing: -0.3px;
}

[dir='ltr'] .blockquote::before,
[dir='ltr'] .rte blockquote::before {
  left: calc(50% - (71px / 2));
}

[dir='rtl'] .blockquote::before,
[dir='rtl'] .rte blockquote::before {
  right: calc(50% - (71px / 2));
}

.blockquote::before,
.rte blockquote::before {
  position: absolute;
  top: -10px;
  width: 71px;
  height: 56px;
  content: '';
  background: rgb(var(--text-color));
  opacity: 0.15;
  mask-image: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDEgODAiPiAgICA8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTAgNDEuNzdWMGg0MS42MDR2NDEuNzdMMjAuMDI2IDgwSC45ODdMMjEuNzIgNDEuNzdIMHptNTkuMzk2IDBWMEgxMDF2NDEuNzdMNzkuNDIyIDgwSDYwLjM4M2wyMC43MzItMzguMjNINTkuMzk2eiIgZmlsbD0iY3VycmVudENvbG9yIiAvPjwvc3ZnPg==');
  mask-size: 71px 56px;
  mask-repeat: no-repeat;
}

[dir='ltr'] .unordered-list,
[dir='ltr'] .text-container ul,
[dir='ltr'] .rte ul {
  margin-right: 0;
  margin-left: 1.25em;
}

[dir='rtl'] .unordered-list,
[dir='rtl'] .text-container ul,
[dir='rtl'] .rte ul {
  margin-right: 1.25em;
  margin-left: 0;
}

.unordered-list,
.text-container ul,
.rte ul {
  padding: 0;
  list-style-type: square;
}

[dir='ltr'] .ordered-list,
[dir='ltr'] .text-container ol,
[dir='ltr'] .rte ol {
  margin-right: 0;
  margin-left: 1em;
}

[dir='rtl'] .ordered-list,
[dir='rtl'] .text-container ol,
[dir='rtl'] .rte ol {
  margin-right: 1em;
  margin-left: 0;
}

.ordered-list,
.text-container ol,
.rte ol {
  padding: 0;
}

[dir='ltr'] .unordered-list li,
[dir='ltr'] .text-container ul li,
[dir='ltr'] .rte ul li {
  padding: 2px 0 2px 5px;
}

[dir='rtl'] .unordered-list li,
[dir='rtl'] .text-container ul li,
[dir='rtl'] .rte ul li {
  padding: 2px 5px 2px 0;
}

[dir='ltr'] .ordered-list li,
[dir='ltr'] .text-container ol li,
[dir='ltr'] .rte ol li {
  padding: 3px 0 3px 9px;
}

[dir='rtl'] .ordered-list li,
[dir='rtl'] .text-container ol li,
[dir='rtl'] .rte ol li {
  padding: 3px 9px 3px 0;
}

.unordered-list li::marker,
.text-container ul li::marker,
.rte ul li::marker {
  font-size: 16px;
  color: inherit;
}

.ordered-list li::marker,
.text-container ol li::marker,
.rte ol li::marker {
  font-size: 11px;
  color: inherit;
}

/* Minimal table styling, with a bordered variation */

.table-wrapper {
  overflow-x: auto;
}

.table,
.rte table {
  --table-spacing: 16px;

  width: 100%;
}

.table--loose {
  --table-spacing: 24px;
}

[dir='ltr'] .table th:not([class*='text--']),
[dir='ltr'] .rte table th:not([class*='text--']) {
  text-align: left;
}

[dir='rtl'] .table th:not([class*='text--']),
[dir='rtl'] .rte table th:not([class*='text--']) {
  text-align: right;
}

.table th,
.rte table th {
  padding-right: var(--table-spacing);
  padding-bottom: 15px;
  padding-left: var(--table-spacing);
  border-bottom: 1px solid rgb(var(--border-color));
}

.table td.half-spaced,
.rte table td.half-spaced {
  padding: calc(var(--table-spacing) / 2);
}

.table td,
.rte table td {
  padding: var(--table-spacing);
  padding-bottom: 0;
}

.table tr[onclick] {
  cursor: pointer;
}

[dir='ltr'] .table th:first-child,
[dir='ltr'] .rte table th:first-child,
[dir='ltr'] .table td:first-child,
[dir='ltr'] .rte table td:first-child {
  padding-left: 0;
}

[dir='rtl'] .table th:first-child,
[dir='rtl'] .rte table th:first-child,
[dir='rtl'] .table td:first-child,
[dir='rtl'] .rte table td:first-child {
  padding-right: 0;
}

[dir='ltr'] .table th:last-child,
[dir='ltr'] .rte table th:last-child,
[dir='ltr'] .table td:last-child,
[dir='ltr'] .rte table td:last-child {
  padding-right: 0;
}

[dir='rtl'] .table th:last-child,
[dir='rtl'] .rte table th:last-child,
[dir='rtl'] .table td:last-child,
[dir='rtl'] .rte table td:last-child {
  padding-left: 0;
}

.table tfoot tr:first-child td,
.rte table tfoot tr:first-child td {
  border-top: 1px solid rgb(var(--border-color));
}

.table tfoot tr:not(:first-child) td,
.rte table tfoot tr:not(:first-child) td {
  padding-top: 8px;
}

.table--bordered td {
  padding-bottom: var(--table-spacing);
  border-top: 1px solid rgb(var(--border-color));
}

.table--footered tbody tr:last-child td {
  padding-bottom: var(--table-spacing);
}

@media screen and (max-width: 740px) {
  .table tfoot td,
  .rte table tfoot td {
    padding-top: 16px;
  }
}

@media screen and (min-width: 741px) {
  .ordered-list li::marker,
  .text-container ol li::marker,
  .rte ol li::marker {
    font-size: 12px;
  }

  .heading--xsmall {
    line-height: 1.466666666;
  }

  .heading--small {
    line-height: 1.2307692308;
  }

  .heading--large {
    line-height: 1;
  }

  .h1,
  .rte h1 {
    line-height: 1.0416666667;
    letter-spacing: -1px;
  }

  .h2,
  .rte h2 {
    line-height: 1.1052631579;
    letter-spacing: -1px;
  }

  .h3,
  .rte h3 {
    line-height: 1.0625;
    letter-spacing: -0.8px;
  }

  .h4,
  .rte h4 {
    line-height: 1.1666666667;
    letter-spacing: -0.6px;
  }

  .h5,
  .rte h5 {
    line-height: 1.2;
    letter-spacing: -0.3px;
  }

  .h6,
  .rte h6 {
    line-height: 1.2222222222;
  }

  [dir='ltr'] .blockquote,
  [dir='ltr'] .rte blockquote {
    padding-right: 0;
    padding-left: 49px;
  }

  [dir='rtl'] .blockquote,
  [dir='rtl'] .rte blockquote {
    padding-right: 49px;
    padding-left: 0;
  }

  .blockquote,
  .rte blockquote {
    min-height: 63px;
    line-height: 1.1666666667;
    letter-spacing: -0.6px;
  }

  [dir='ltr'] .blockquote--center {
    padding-left: 0;
  }

  [dir='rtl'] .blockquote--center {
    padding-right: 0;
  }

  [dir='ltr'] .blockquote:not(.blockquote--center)::before,
  [dir='ltr'] .rte blockquote:not(.blockquote--center)::before {
    left: 0;
  }

  [dir='rtl'] .blockquote:not(.blockquote--center)::before,
  [dir='rtl'] .rte blockquote:not(.blockquote--center)::before {
    right: 0;
  }

  .blockquote:not(.blockquote--center)::before,
  .rte blockquote:not(.blockquote--center)::before {
    top: 0;
    width: 80px;
    height: 63px;
    mask-size: 80px 63px;
  }

  [dir='ltr'] .unordered-list li,
  [dir='ltr'] .text-container ul li,
  [dir='ltr'] .rte ul li {
    padding: 4px 0 4px 5px;
  }

  [dir='rtl'] .unordered-list li,
  [dir='rtl'] .text-container ul li,
  [dir='rtl'] .rte ul li {
    padding: 4px 5px 4px 0;
  }

  [dir='ltr'] .ordered-list li,
  [dir='ltr'] .text-container ol li,
  [dir='ltr'] .rte ol li {
    padding: 4px 0 4px 9px;
  }

  [dir='rtl'] .ordered-list li,
  [dir='rtl'] .text-container ol li,
  [dir='rtl'] .rte ol li {
    padding: 4px 9px 4px 0;
  }
}

@media screen and (min-width: 1000px) {
  /* The rich text table keep the smaller padding as merchant often use RTE with lot of columns */
  .table {
    --table-spacing: 24px;
  }

  .table--loose {
    --table-spacing: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .heading--large,
  .rte .heading--large {
    line-height: 1;
  }

  .h1,
  .rte h1 {
    line-height: 1.0714285714;
    letter-spacing: -1px;
  }

  .h2,
  .rte h2 {
    line-height: 1.0833333333;
    letter-spacing: -1px;
  }

  .h3,
  .rte h3 {
    line-height: 1.1111111111;
    letter-spacing: -0.8px;
  }

  .h4,
  .rte h4 {
    line-height: 1.1333333333;
    letter-spacing: -0.7px;
  }

  .h5,
  .rte h5 {
    line-height: 1.1666666667;
    letter-spacing: -0.4px;
  }

  .h6,
  .rte h6 {
    line-height: 1.2222222222;
  }

  [dir='ltr'] .blockquote,
  [dir='ltr'] .rte blockquote {
    padding-left: 69px;
  }

  [dir='rtl'] .blockquote,
  [dir='rtl'] .rte blockquote {
    padding-right: 69px;
  }

  .blockquote,
  .rte blockquote {
    min-height: 80px;
    line-height: 1.1333333333;
    letter-spacing: -0.7px;
  }

  [dir='ltr'] .blockquote--center,
  [dir='ltr'] .rte .blockquote--center {
    padding-left: 0;
  }

  [dir='rtl'] .blockquote--center,
  [dir='rtl'] .rte .blockquote--center {
    padding-right: 0;
  }

  .blockquote:not(.blockquote--center)::before,
  .rte blockquote:not(.blockquote--center)::before {
    width: 101px;
    height: 81px;
    mask-size: 101px 81px;
  }
}

/**
 * -------------------------------------------------------------
 * RTE SPACING
 *
 * NOTE: to have the same spacing as in an RTE field, you can wrap
 *       the element by a div with the class "text-container"
 * -------------------------------------------------------------
 */

.text-container p:not(.heading) + p,
.rte p:not(.heading) + p,
.text-container p + form,
.rte p + form {
  margin-top: 24px;
}

.text-container .heading--large,
.rte .heading--large {
  margin: 48px 0 40px;
}

.text-container .h1,
.rte h1 {
  margin: 48px 0 24px;
}

.text-container .h2,
.rte h2,
.text-container .h3,
.rte h3,
.text-container .h4,
.rte h4,
.text-container .h5,
.rte h5,
.text-container .h6,
.rte h6 {
  margin: 40px 0 16px;
}

.text-container .heading--small,
.rte .heading--small {
  margin: 16px 0;
}

.text-container .heading--xsmall,
.rte .heading--xsmall {
  margin: 12px 0;
}

.text-container img:not([style*='float']),
.rte img:not([style*='float']) {
  display: block;
  margin: 34px 0;
}

.text-container ul,
.rte ul,
.text-container ol,
.rte ol {
  margin-top: 1em;
  margin-bottom: 1em;
}

@media screen and (min-width: 1000px) {
  .text-container p + form,
  .rte p + form {
    margin-top: 32px;
  }

  .text-container .h1,
  .rte h1 {
    margin: 48px 0 32px;
  }

  .text-container .h2,
  .rte h2,
  .text-container .h3,
  .rte h3,
  .text-container .h4,
  .rte h4 {
    margin: 48px 0 24px;
  }

  .text-container .h5,
  .rte h5,
  .text-container .h6,
  .rte h6 {
    margin: 40px 0 16px;
  }

  .blockquote,
  .rte blockquote {
    margin: 80px 0 96px;
  }
}

/* We remove the spacing for first item and last item */

.rte > :first-child,
.text-container > :first-child {
  margin-top: 0;
}

.rte > :last-child,
.text-container > :last-child {
  margin-bottom: 0;
}
