/**
 * -------------------------------------------------------------
 * SPACING COMBINATIONS
 *
 * NOTE: this define common combination in order to provide a consistent
 *       styling throughout the theme
 * -------------------------------------------------------------
 */

.heading--small + .heading--large {
  margin-top: 32px;
}

.heading--small + p,
.heading--xsmall + p {
  margin-top: 16px;
}

.heading--small + p,
.heading--small + .h1,
.heading--small + h1,
.heading--small + .h2,
.heading--small + h2,
.heading--small + .h3,
.heading--small + h3,
.heading--small + .h4,
.heading--small + h4,
.heading--small + .h5,
.heading--small + h5,
.heading--small + .h6,
.heading--small + h6 {
  margin-top: 16px;
}

.heading--xsmall + p,
.heading--xsmall + .h1,
.heading--xsmall + h1,
.heading--xsmall + .h2,
.heading--xsmall + h2,
.heading--xsmall + .h3,
.heading--xsmall + h3 {
  margin-top: 16px;
}

.heading--xsmall + .h4,
.heading--xsmall + h4,
.heading--xsmall + .h5,
.heading--xsmall + h5,
.heading--xsmall + .h6,
.heading--xsmall + h6 {
  margin-top: 12px;
}

.heading + .button-wrapper,
.heading + .button-group,
p + .button-wrapper,
p + .button-group,
.button-wrapper + p,
.button-group + p {
  margin-top: 32px;
}

@media screen and (min-width: 741px) {
  .heading--small + p,
  .heading--small + .h1,
  .heading--small + h1,
  .heading--small + .h2,
  .heading--small + h2,
  .heading--small + .h3,
  .heading--small + h3,
  .heading--small + .h4,
  .heading--small + h4 {
    margin-top: 24px;
  }

  .heading--small + .h5,
  .heading--small + h5,
  .heading--small + .h6,
  .heading--small + h6 {
    margin-top: 16px;
  }

  .heading--xsmall + .h1,
  .heading--xsmall + h1,
  .heading--xsmall + .h2,
  .heading--xsmall + h2 {
    margin-top: 24px;
  }
}
